<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <div class="navbar">
        <div class="lower-navbar">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="text-wrapper"><a style="color:white;text-decoration: none;" href="">SESSIONS</a></div>
            <div class="div"><a style="color:white;text-decoration: none;" href="">TOURNAMENTS</a></div>
            <div class="text-wrapper-2"><a style="color:white;text-decoration: none;" href="">ACADEMY</a></div>
            <div class="text-wrapper-3"><a style="color:white;text-decoration: none;" href="">EVENTS</a></div>
          </div>
        </div>
        <div class="upper-navbar">
          <div class="overlap">
            <div class="home">
              <div class="overlap-group-2">
                <div class="text-wrapper-4"><a style="color:white;text-decoration: none;" href="">Home</a></div>
                <a style="color:white;text-decoration: none;" href=""><img class="img" src="../navbar/img/home.png" /></a>
              </div>
            </div>
            <div class="contact-us">
              <div class="overlap-2">
                <div class="text-wrapper-5"><a style="color:white;text-decoration: none;" href="">Contact Us</a></div>
                <a style="color:white;text-decoration: none;" href=""><img class="call" src="../navbar/img/call.png" /></a>
              </div>
            </div>
            <div class="FAQ">
              <div class="text-wrapper-6"><a style="color:white;text-decoration: none;" href="">FAQ</a></div>
              <a style="color:white;text-decoration: none;" href=""><img class="ask-question" src="../navbar/img/ask-question.png" /></a>
            </div>
            <button class="register-button">
              <div class="div-wrapper"><div class="text-wrapper-7"><a style="text-decoration: none;color: inherit;" href="">Register</a></div></div>
            </button>
            <button class="login-button">
              <div class="overlap-3"><div class="text-wrapper-8"><a style="text-decoration: none;color: inherit;" href="">Login</a></div></div>
            </button>
            <div class="gallery">
              <div class="text-wrapper-9"><a style="color:white;text-decoration: none;" href="">Gallery</a></div>
              <a style="color:white;text-decoration: none;" href=""><img class="picture" src="../navbar/img/picture.png" /></a>a>
            </div>
            <img class="output" src="../navbar/img/output-onlinepngtools-1.png" />
          </div>
        </div>
        <div class="rectangle-2"></div>
      </div>
    </div>
  </body>
</html>
