<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <div class="navbar">
        <div class="lower-navbar">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="text-wrapper">SESSIONS</div>
            <div class="div">TOURNAMENTS</div>
            <div class="text-wrapper-2">ACADEMY</div>
            <div class="text-wrapper-3">EVENTS</div>
          </div>
        </div>
        <div class="upper-navbar">
          <div class="overlap">
            <div class="home">
              <div class="overlap-group-2">
                <div class="text-wrapper-4">Home</div>
                <img class="img" src="img/home.png" />
              </div>
            </div>
            <div class="contact-us">
              <div class="overlap-2">
                <div class="text-wrapper-5">Contact Us</div>
                <img class="call" src="img/call.png" />
              </div>
            </div>
            <div class="FAQ">
              <div class="text-wrapper-6">FAQ</div>
              <img class="ask-question" src="img/ask-question.png" />
            </div>
            <button class="register-button">
              <div class="div-wrapper"><div class="text-wrapper-7">Register</div></div>
            </button>
            <button class="login-button">
              <div class="overlap-3"><div class="text-wrapper-8">Login</div></div>
            </button>
            <div class="gallery">
              <div class="text-wrapper-9">Gallery</div>
              <img class="picture" src="img/picture.png" />
            </div>
            <img class="output" src="img/output-onlinepngtools-1.png" />
          </div>
        </div>
        <div class="rectangle-2"></div>
      </div>
    </div>
  </body>
</html>
